@import "tailwindcss";

:root {
  --color-strong-orange: #FE8F27;
  --color-orange: #ffb03d;
  --color-light-orange: #fcc56c;
  --color-sweet-gray: #F5F5F5;
  --color-strong-gray: #525057;
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
